<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--    &lt;!&ndash;bean就是java对象 , 由Spring创建和管理  注意这里是用的set注入-->
    <bean id="mysqlIpml" class="dao.UserDAOMysqlImpl"></bean>
    <bean id="oracleIpml" class="dao.UserDaoOracleIpml"></bean>
    <bean id="userServiceIpml" class="service.UserServiceIpml">
        <property name="userDAO" ref="oracleIpml"></property>
    </bean>
</beans>