<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--  bean就是java对象 , 由Spring创建和管理  注意这里是用的set注入-->

    <bean id="cat" class="com.huawei.pojo.Cat" />
    <bean id="dog" class="com.huawei.pojo.Dog" />
<!--    <bean id="people" class="com.huawei.pojo.People" >-->
<!--        <property  name="name" value="cater"/>-->
<!--        <property name="dog" ref="dog"/>-->
<!--        <property name="cat" ref="cat"/>-->
<!--    </bean>    -->
    <bean id="people" class="com.huawei.pojo.People" autowire="byName" scope="singleton">
        <property  name="name" value="cater"/>
    </bean>

</beans>